# Files
*.code-workspace
*.vscode

# Directories
/misc
/.vscode

# Server
/server/api/.env
/server/api/node_modules

# Client
/client/.env
/client/.env.production
/client/node_modules
/client/dist

# Tracking
/server/tracking/__pycache__
