#footer {
  background-color: $color-base;
  color: $white;
  a {
    color: $white;
    &:hover {
      color: $secondary;
    }
  }
}
#xs-footer-menu {
  ul {
    background-color: $dark-grey;
    li {
      a {
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
.light-logo-filter {
  filter: invert(98%) sepia(2%) saturate(1274%) hue-rotate(353deg) brightness(100%) contrast(94%);
}