#map-tools {
  z-index: 401;
  bottom: 50px;
}
#info-toggle,
#basemap-toggle,
#visible-satellites,
#satellite-options,
#user-options {
  background-color: $overlay;
  border: 0;
  border-radius: 0;
  &:hover {
    background-color: rgba(43,62,66,0.75);
  }
  &:focus, &:active {
    box-shadow: none;
  }
}
#info-collapse {
  .modal-content {
    background-color: transparent;
    border: 0;
  }
  .info-collapse-body {
    background-color: rgba(43,62,66,0.75);
    color: $white;
  }
}
#satellite-options.list-group, #user-options.list-group {
  background-color: rgba(43,62,66,0.7);
  color: $white;
  .list-group-item {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    &:hover {
      cursor: pointer;
      background-color: rgba(43,62,66,0.5);
    }
  }
}

/** XS **/
@media (max-width: 576px) {}

/** SM **/
@media (min-width: 577px) and (max-width: 767px) {}

/** MD **/
@media (min-width: 768px) and (max-width: 992px) {}