#map {
  top: 56px;
  width: 100%;
  height: -moz-calc(100% - 96px); /* Firefox */
  height: -webkit-calc(100% - 96px); /* Chrome, Safari */
  height: calc(100% - 96px); /* IE9+ and future browsers */
}
.visible-alert {
  z-index: 401;
  top: 20px;
  margin: 0 auto;
  width: 50%;
}

.orbital-path-label {
  display: flex;
  padding-left: 5px;
  color: $white;
  background-color: $overlay;
  z-index: 0;
}

/* Leaflet Specific Styles */
.leaflet-touch .leaflet-bar {
  border: 0 !important;
  top: 10px;
}
.leaflet-control-zoom.leaflet-bar {
  border-radius: 0;
  border: 0;
  a {
    box-shadow: 0;
    border-radius: 0 !important;
    border: 0;
    background-color: $overlay;
    color: $black !important;
    &:hover {
      background-color: rgba(43,62,66,0.5);
      border-bottom: 0;
      color: $black !important;
    }
  }
}

.leaflet-popup-content-wrapper {
  background-color: $dark-grey !important;
  color: $white !important;
  border-radius: 3px !important;
  opacity: 0.8;
}
.leaflet-popup-tip-container {
  opacity: 0.9;
  .leaflet-popup-tip {
    background-color: $dark-grey !important;
  }
}

/** XS **/
@media (max-width: 576px) {}

/** SM **/
@media (min-width: 577px) and (max-width: 767px) {}

/** MD **/
@media (min-width: 768px) and (max-width: 992px) {}