/* Import UI Kit */

// Fonts
@import url("https://fonts.googleapis.com/css?family=Sunflower:300&display=swap");

// Variables
@import "variables.scss";

// Elements
@import "./elements/alerts.scss";
@import "./elements/buttons.scss";
@import "./elements/card.scss";
@import "./elements/list-group.scss";
@import "./elements/nav-pills.scss";
@import "./elements/forms.scss";
@import "./elements/text.scss";
@import "./elements/dropdown-menu.scss";

// Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/slidemenu.scss";
@import "./components/sidebar.scss";
@import "./components/satellite-card.scss";
@import "./components/satellite-list.scss";
@import "./components/map.scss";
@import "./components/map-tools.scss";
@import "./components/contact.scss";

// Views
@import "./views/home.scss";
@import "./views/about.scss";
@import "./views/privacy-terms.scss";
@import "./views/404.scss";

// Global Styles
html, body, #app, .container-fluid {
	height: 100vh;
  min-height: 100vh;
  font-family: $font;
  color: $white;
  background-color: $gray;
}
body.overlay-open {
  overflow-y: hidden;
}
.max-height {
	height: 100vh;
	max-height: 100vh;
}
a {
  outline: 0;
}

/** XS **/
@media (max-width: 576px) {}

/** SM **/
@media (min-width: 577px) and (max-width: 767px) {}

/** MD **/
@media (min-width: 768px) and (max-width: 992px) {}