/** 
Color Theme 
https://nasa.github.io/nasawds-site/components/colors/
**/

// Primary colors
$black: #000000;
$color-base: #212121;		
$dark-grey: #6C7A7D;
$light-grey: #aeb0b5;
$white: #FFFFFF;
$primary: #105bd8;
$primary-dark: #0b3d91;

// Secondary Colors
$secondary: #dd361c;
$secondary-darkest: #99231b;
$secondary-dark: #c62d1f;
$secondary-light: #e59892;

// Background colors
$background-light: #dce4ef;
$background-dark: $color-base;

// Theme colors overlay
$overlay: rgba(0,0,0, 0.3);
$overlay-dark: rgba(0,0,0, 0.65);
$secondary-overlay: rgba(221,54,28, 0.75);

// Inputs
$box-shadow: rgba(16, 91, 216, 0.25);
