/***
DROPDOWN MENU 
https://bootstrap-vue.js.org/docs/components/dropdown/
***/

.dropdown-menu {
  background-color: $color-base !important;
  .dropdown-item {
    &:hover, &:active, &:focus {
      background-color: $color-base !important;
      color: $secondary;
    }
  }
  .dropdown-item.active {
    background-color: $color-base !important;
    color: $secondary !important;
  }
}