// Text input, select
.form-control,
.custom-select,
.custom-control-label {
  &:focus {
    border-color: $primary !important;
    box-shadow: 0 0 0 0.2rem $box-shadow !important;
  }
}

// Custom checkbox
.custom-control-input:checked ~
.custom-control-label {
  &::before {
    border-color: $primary !important;
    background-color: $primary !important;
  }
}