.nav.nav-pills {
  a.nav-link {
    border-radius: 3px;
    color: $color-base !important;
    &:hover {
      color: $white !important;
      background-color: $primary;
    }
    &.active {
      color: $white !important;
      background-color: $primary;
    }
  }
}