.nav.nav-pills {
  a.nav-link {
    border-radius: 3px;
    color: $white;
    &:hover {
      color: $white !important;
      background-color: $orange-transparent;
    }
    &.active {
      color: $white !important;
      background-color: $orange-transparent;
    }
  }
}