/***
TEXT 
https://bootstrap-vue.js.org/docs/components/spinner
***/

a {
  color: $white !important;
  &:hover {
    color: $primary !important;
  }
}
.text-dark {
  color: $color-base;
}
.text-light {
  color: $white;
}
.text-primary {
  color: $primary;
}