/***
TEXT 
https://bootstrap-vue.js.org/docs/components/spinner
***/

a {
  color: $white !important;
  &:hover {
    color: $primary !important;
  }
}
.text-color-dark {
  color: $color-base !important;
}
.text-color-light {
  color: $white !important;
}
.text-primary {
  color: $primary !important;
}