/***
BUTTONS 
https://bootstrap-vue.js.org/docs/components/button
***/

// Solid
.btn.btn-primary {
  border-color: $blue;
  background-color: $blue;
  &:hover, &:active, &:focus, &:disabled, &:not(:disabled):not(.disabled):active:focus {
    border-color: $blue-hover;
    background-color: $blue-hover;
    -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
  }
}

.btn.btn-danger {
  border-color: $orange;
  background-color: $orange;
  &:hover, &:active, &:focus, &:disabled, &:not(:disabled):not(.disabled):active:focus {
    border-color: $orange-hover;
    background-color: $orange-hover;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

// Outline
.btn.btn-outline-primary {
  border-color: $blue;
  color: $blue;
  &:hover, &:active, &:focus, &:disabled, &:not(:disabled):not(.disabled):active:focus {
    border-color: $blue-hover;
    color: $dark-gray;
    background-color: $blue-hover;
    -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
  }
}